.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 90vh;
}

.chat-container {
  width: 80%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.chat {
  padding: 10px;
  overflow-y: auto;
  flex: 1;
}

.chat::-webkit-scrollbar {
  width: 10px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.input-chat-container {
  display: flex;
  padding: 10px;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
}

.input-chat {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.submit-chat {
  width: 70px;
  padding: 10px;
  background-color: #0070a3;
  border: 1px solid #0070a3;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.submit-chat:hover {
  background-color: #108ce6;
}

.my-message-container {
  align-self: flex-end;
  margin-bottom: 10px;
}

.another-message-container {
  align-self: flex-start;
  margin-bottom: 10px;
}

.my-message,
.another-message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  border-width: 2px;
}

/* Updated color scheme for messages */
.my-message {
  background-color: #4dcfd7; /* Updated: Blueish color for your messages */
  color: white;
  border-color: #4dcfd7;
}

.another-message {
  background-color: #f0f0f0; /* Updated: Light grey color for others' messages */
  color: black;
  border-color: #ccc;
}

.client {
  font-size: 13px;
  margin: 0;
}

.message {
  margin-top: 3px;
  margin-bottom: 0;
}
